/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: Emerson Xia
   Date: 03/01/2020  

   Filename: rb_validate.css

*/


/* Validation Styles */

